@charset "utf-8";

.wrapper {
  background-color: #f2f6f7;
  padding: 32px 0;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.entry_form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 18%);
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 48px 64px;
}

.form_title {
  color: #545658;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.sns_buttons {
  display: flex;
  margin-bottom: 8px;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 50%;
}

.button {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  padding: 13px;
  text-align: center;
  transition: 0.3s;
}

.buttons:last-child {
  margin-left: 8px;
}

.facebook {
  background-color: #3b5999;
  border-color: #3b5999;
  color: #fff
}

.facebook:hover {
  background-color: #334c83;
}

.google {
  background-color: #fff;
  color: #dd4b39;
}

.google:hover {
  background-color: rgb(245, 245, 245);
}

.sns_notice {
  text-align: center;
}

.default_text {
  color: #949697;
  font-size: 12px;
}

.information {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

.information::before {
  background-color: #ececec;
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.information_text {
  background-color: #fff;
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.item {
  margin-bottom: 20px;
}

.fullname {
  display: flex;
}

.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

.item_text {
  color: #545658;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

.alert {
  color: #dd4b39;
}

.input {
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  color: #545658;
  font-size: 13px;
  height: 36px;
  line-height: 2;
  outline: none;
  padding: 5px;
  width: 100%;
}

.input:focus {
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 3px #04e2ded8;
}

.gender_options {
  color: #545658;
  display: flex;
  font-size: 16px;
}

.gender_option {
  cursor: pointer;
  margin-left: 15px;
}

.gender_option:first-child {
  margin-left: 0;
}

.input_gender {
  display: none;
}

.gender_option span {
  display: inline-block;
  padding: 3px 3px 3px 20px;
  position: relative;
}

.gender_option span::before {
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  content: '';
  height: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
}

.input_gender:checked + span::after {
  border-radius: 50%;
  background-color: #01bfbd;
  content: '';
  height: 8px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.place_option {
  position: relative;
}

.place_option::after {
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  content: '';
  display: inline-block;
  height: 5px;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  width: 5px;
}

.input_place {
  appearance: none;
  outline: none;
}

.course_name {
  color: #545658;
  font-size: 16px;
  margin-bottom: 10px;
}

.input_course {
  display: none;
}

.course_name_text {
  position: relative;
  padding-left: 25px;
}

.course_name_text::before {
  border: 1px solid #d9d9d9;
  content: '';
  height: 15px;
  margin-top: -8px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
}

.course_name input:checked + .course_name_text::after {
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
  content: '';
  height: 16px;
  margin-top: -12px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  width: 8px;
}

.input_remarks {
  height: 100px;
  resize: none;
}

.input_submit_button {
  background-color: #01bfbd;
  color: #fff;
  padding: 13px;
}

.input_submit_button:hover {
  background-color: #009491;
}

.input_submit_button:active {
  background-color: #fff;
  color: #01bfbd;
}

.agreement {
  font-size: 12px;
  line-height: 16px;
}

.link {
  color: #01a6a4;
}

.link:hover {
  color: #00c2bf;
}

.underline:hover {
  border-bottom: 1px solid #00c2bf;
  padding-bottom: 1px;
}

.footer {
  text-align: center;
}

.do_u_have_an_account {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}

.resend_mail {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}